@*
* This template takes a single argument, a list of Posts to display.
*@
@import dto.PostDTO
@import helper.CSRF

@(postForm: Form[PostDTO], postId: Long)

@main {
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                    <!-- Form - Blog Post -->
                @helper.form(action = CSRF(routes.PostController.editPost(postId)), 'class -> "form-horizontal") {
                    @post_form(postForm)
                    <!-- Form field - createDate -->
                <input type="hidden" name="postId" value="@postForm("createDate").getValue.get()">
                }

            </div>
        </div>
    </div>
}
