@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Play Framework Blog</title>
        <link href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")" rel="stylesheet" media="screen"/>
        <script src="@routes.Assets.at("lib/jquery/dist/jquery.js")"></script>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")"/>

    </head>
    <body>

            <!-- navbar -->
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@routes.BlogController.blog(1)">Blog App</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse navbar-right">
                        <!-- show registration only if user is not yet authenticated -->
                    @if(session.get("username") == null) {
                        <ul class="nav navbar-nav ">
                            <li class="active"><a href="@routes.UserController.register">Registration</a></li>
                        </ul>
                    }
                        <!-- show login only if user is not yet authenticated -->
                    @if(session.get("username") == null) {
                        <ul class="nav navbar-nav ">
                            <li class="active"><a href="@routes.UserController.login">Login</a></li>
                        </ul>
                    }
                        <!-- show My Blog only if user is authenticated -->
                    @if(session.get("username") != null) {
                        <ul class="nav navbar-nav ">
                            <li class="active"><a href="@routes.BlogController.usersBlog(session.get("username"))">
                                My Blog</a></li>
                        </ul>
                    }
                        <!-- show new post only if user is authenticated -->
                    @if(session.get("username") != null) {
                        <ul class="nav navbar-nav ">
                            <li class="active"><a href="@routes.PostController.getNewPostForm()">New Post</a></li>
                        </ul>
                    }
                        <!-- show sign out only if user is authenticated -->
                    @if(session.get("username") != null) {
                        <ul class="nav navbar-nav ">
                            <li class="active"><a href="@routes.UserController.logout">Sign Out</a></li>
                        </ul>
                    }
                </div>
            </div>
        </nav>

        <div class="container">
            @* And here's where we render the `Html` object containing
            * the page content. *@
            @content
        </div>

        <hr>

            <!-- footer -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                        <!-- Logged user info -->
                    @if(session.get("username") != null) {
                        <p class="text-center">
                            | Logged user: @session.get("username")
                            @*| Email: {{ user.email }}*@
                            @*| Admin:{{ user.is_superuser }}*@
                            | <a href="@routes.UserController.logout">Sign Out</a>
                        </p>
                    }
                    <div>
                        <p class="text-center">&copy; 2017 Dusan Reljic</p>
                    </div>

                </div>
            </div>

            <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.js")"></script>

        </div>

    </body>
</html>
