@*
* This template takes a single argument, a list of Posts to display.
*@
@import dto.UserDTO
@import views.html.helper.CSRF

@(registrationForm: Form[UserDTO])

@main {
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                    <!-- Errors messages -->
                <div class="col-sm-9">

                @if(registrationForm.hasGlobalErrors) {
                    @for(error <- registrationForm.globalErrors) {
                        <div class="alert alert-danger">@error.format(messages())</div>
                    }
                }

                </div>

                    <!-- Form - User -->
                @helper.form(action = CSRF(routes.UserController.register()), 'class -> "form-horizontal") {

                    <div class="form-group">
                        <div class="col-sm-9">

                                <!-- Errors - username -->
                            @for(error <- registrationForm("username").errors) {
                                <p class="alert alert-danger">@error.format(messages())</p>
                            }

                                <!-- Form field - username -->
                            <input type="text"
                            placeholder="Username"
                            class="form-control"
                            name="username"
                            value="@registrationForm("username").getValue.orElse("")">

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">

                                <!-- Errors - password -->
                            @for(error <- registrationForm("password").errors) {
                                <p class="alert alert-danger">@error.format(messages())</p>
                            }

                                <!-- Form field - password -->
                            <input type="password"
                            placeholder="Password"
                            class="form-control"
                            name="password"
                            value="@registrationForm("password").getValue.orElse("")">

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">

                                <!-- Errors - firstName -->
                            @for(error <- registrationForm("firstName").errors) {
                                <p class="alert alert-danger">@error.format(messages())</p>
                            }

                                <!-- Form field - first_name -->
                            <input type="text"
                            placeholder="First Name"
                            class="form-control"
                            name="firstName"
                            value="@registrationForm("firstName").getValue.orElse("")">

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">

                                <!-- Errors - lastName -->
                            @for(error <- registrationForm("lastName").errors) {
                                <p class="alert alert-danger">@error.format(messages())</p>
                            }

                                <!-- Form field - last_name -->
                            <input type="text"
                            placeholder="Last Name"
                            class="form-control"
                            name="lastName"
                            value="@registrationForm("lastName").getValue.orElse("")">

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">

                                <!-- Errors - email -->
                            @for(error <- registrationForm("email").errors) {
                                <p class="alert alert-danger">@error.format(messages())</p>
                            }

                                <!-- Form field - email -->
                            <input type="text"
                            placeholder="Email"
                            class="form-control"
                            name="email"
                            value="@registrationForm("email").getValue.orElse("")">

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">

                                <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>

                        </div>
                    </div>

                }

            </div>
        </div>
    </div>
}
