@*
* This template takes a single argument, a list of Posts to display.
*@
@import dto.UserDTO
@import util.PostsPager

@(userDTO: UserDTO, postsPager: PostsPager)

@main {
    <div class="jumbotron">
        <h1>@userDTO.firstName @userDTO.lastName - Blog</h1>
    </div>
        <!-- Show List of Posts -->
    @posts(postsPager)

        <!-- Pagination -->
    <div class="pagination">
    @if(postsPager.indexOutOfBounds) {
        Page is out of bounds. Go back to <a href="@routes.BlogController.usersBlog(userDTO.username, 1)">User's Home</a>.
    } else {
        @if(postsPager.hasPrev) {
            <a href="@routes.BlogController.usersBlog(userDTO.username, 1)">&laquo; first</a>
            <a href="@routes.BlogController.usersBlog(userDTO.username, postsPager.getPageIndex - 1)">previous</a>
        }

        @if(postsPager.getTotalPageCount != 1) {
            Page @postsPager.getPageIndex of @postsPager.getTotalPageCount.
        }

        @if(postsPager.hasNext) {
            <a href="@routes.BlogController.usersBlog(userDTO.username, postsPager.getPageIndex + 1)">next</a>
            <a href="@routes.BlogController.usersBlog(userDTO.username, postsPager.getTotalPageCount)">last &raquo;</a>
        }
    }
    </div>
}
